:root {
    --background: #212121;
    --btn-primary: #008a44;
    --btn-primary-hover: #0a964f;
    --btn-secondary: #e3e3e3;
    --btn-secondary-hover: #ffffff;
    --light-gray: #bcbcbc;
}

p, h1, h2, h3, h4, h5 {
    color: white;
}

body {
    background-color: var(--background);
    user-select: none;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
}

.blur-background {
    backdrop-filter: blur(8px);
}

.btn-primary {
    background-color: var(--btn-primary);
    border: 2px solid transparent;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--btn-primary-hover);
    border: 2px solid transparent;
}

.btn-primary:active {
    border: 2px solid black !important;
    background-color: var(--btn-primary-hover) !important;
}

.btn-primary:disabled {
    background-color: var(--btn-primary);
    border: 2px solid transparent;
    opacity: 0.5;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
}

.modal-lg {
    min-width: 80vw;
}

.modal-content {
    background-color: #212121f5;
    min-height: 200px;
    border-radius: 12px;
    color: white;
    font-weight: 500;
}

.modal-header {
    border-bottom: none;
    padding-top: 8px;
    padding-bottom: 6px;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-header i {
    font-size: 20px;
    color: var(--light-gray);
}

.modal-header i:hover,
.modal-header i:focus {
    color: white;
}

.modal-body {
    padding: 0 10px 10px;
}